<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.GoodsImgMapper">
  <select id = "getGoodsImgListById" parameterType = "java.lang.Long" resultType = "ltd.newbee.mall.entity.GoodsImg">
    SELECT goods_id,
    goods_img_url From goods_img where id =#{goodsId,jdbcType=BIGINT}   
   </select>  
</mapper>