<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.QuestionSankou">

    <insert id="insertQuestionSankou" parameterType="ltd.newbee.mall.entity.QuestionSankou">
		insert into question_and_answer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="goodsId != null">
				goods_id,
			</if>
			<if test="questionId != null">
				question_id,
			</if>
			<if test="userId != null">
				user_id,
			</if>
			<if test="submitDate != null">
				submit_date,
			</if>
			<if test="answersDate != null">
				answers_date,
			</if>
		</trim>
		
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="goodsId != null">
				#{goods_id,jdbcType=BIGINT},
			</if>
			<if test="questionId != null">
				#{question_id,jdbcType=BIGINT},
			</if>
			<if test="userId != null">
				#{user_id,jdbcType=BIGINT},
			</if>
			<if test="submitDate != null">
				#{submit_date,jdbcType=DATE},
			</if>
			<if test="answersDate != null">
				#{answers_date,jdbcType=DATE},
			</if>
		</trim>
	</insert>
</mapper>